@{
  Layout = "_Layout";
}

@model Bakery.Models.Treat
<h1> Add a Flavor </h1>

<h3> Add a flavor to @Html.DisplayFor(model => model.TreatName) </h3>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.TreatId)

  @Html.Label("Select Flavor")
  @Html.DropDownList("FlavorId")

  <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to Treats", "Index")</p>

