@{
  Layout = "_Layout";
}

@model Bakery.Models.Treat

<h4>Add a new treat</h4>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.TreatName)
  <br>
  @Html.TextBoxFor(model => model.TreatName)
  <br><br>
  @Html.LabelFor(model => model.TreatDetails)
  <br>
  @Html.TextAreaFor(model => model.TreatDetails)

  <input type="submit" value="Add a new treat" class="btn btn-default" />
}
<p>@Html.ActionLink("Show all treats", "Index")</p>