@{
  Layout = "_Layout";
}

@using Bakery.Models
@model Bakery.Models.Treat

<h2>Treat Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.TreatName): @Html.DisplayFor(model => model.TreatName)</h3>  

@if(@Model.JoinEntities.Count == 0)
{
  <p>This treat is not assigned to any flavors yet!</p>
}
else
{
  <h4>This treat is assigned to the following flavors:</h4>
  <ul>
    @foreach(TreatFlavor join in Model.JoinEntities)
    {
      <li>@join.Flavor.FlavorName</li>
      @using (Html.BeginForm("DeleteJoin", "Treats"))
      {
        @Html.Hidden("joinId", @join.TreatFlavorId)
        <input type="submit" value="Delete"/>
      }
    }
  </ul>
}

<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Add a Flavor", "AddFlavor", new { id = Model.TreatId })</p>
<p>@Html.ActionLink("Edit Treat", "Edit", new { id = Model.TreatId })</p>
<p>@Html.ActionLink("Delete Treat", "Delete", new { id = Model.TreatId })</p>