@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h4>Add a new engineer</h4>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.EngineerName)
  <br>
  @Html.TextBoxFor(model => model.EngineerName)
  <br><br>
  @Html.LabelFor(model => model.EngineerDetails)
  <br>
  @Html.TextAreaFor(model => model.EngineerDetails)

  <input type="submit" value="Add a new engineer" class="btn btn-default" />
}
<p>@Html.ActionLink("Show all engineers", "Index")</p>