@{
  Layout = "_Layout";
}

@model Bakery.Models.Flavor
<h2>Edit</h2>

<h4>Edit this flavor: @Html.DisplayFor(model => model.FlavorName)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.FlavorId)

  @Html.LabelFor(model => model.FlavorName)
  <br>
  @Html.TextBoxFor(model => model.FlavorName)
  <br><br>
  @Html.LabelFor(model => model.FlavorDescription)
  <br>
  @Html.TextAreaFor(model => model.FlavorDescription)
  
  <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to list", "Index")</p>