@{
  Layout = "_Layout";
}
 
 @using Factory.Models

<h1>Welcome to the Factory Manager!</h1>
<p>@Html.ActionLink("See all engineers", "Index", "Engineers")</p>
<p>@Html.ActionLink("See all machines", "Index", "Machines")</p>

@* @if(@Model.JoinEntities.Count == 0)
{
  <p>This engineer is not assigned to any machines yet!</p>
}
else
{
  <h4>This engineer is assigned to the following machines:</h4>
  <ul>
    @foreach(EngineerMachine join in Model.JoinEntities)
    {
      <li>Machine: @join.Machine.MachineName</li>
      @using (Html.BeginForm("DeleteJoin", "Engineers"))
      {
        @Html.Hidden("joinId", @join.EngineerMachineId)
        <input type="submit" value="Delete"/>
      }
    }
  </ul>
} *@
